.my-theme {
  /*colors*/
  --color-text: white;
  --color-links: rgb(221, 221, 247);
  --color-links-visited: rgb(150, 150, 214);
  --color-erorr:red;
  --color-background-left: rgb(36, 34, 34);
  --color-background-right: rgb(67, 85, 100);
  /*Fonts*/
  --font-for-document: "Inter";
  --font-weight-global: 600px;
  --font-size-small: 20px;
  --font-style-document: normal;
  /*Decorations*/
  --text-decoration: underline;
  /*Sizes*/
  --height-input:30px;
  --width-grid-1:385px;
  --line-height-1:19px;
  /**/
  --top-1:36px;
  --top-2:54px;
  --left-1:40px;
  --left-2:42px;
}

.main-theme {
  /*colors*/
  --color-text: #333;
  --color-links: #00f;
  --color-links-visited: #005;
  --color-erorr:red;
  --color-background-left:#86A3B4;
  --color-background-right: white;
  --color-input:white;
  /*Fonts*/
  --font-for-document: "Inter";
  --font-weight-global: 600px;
  --font-size-small: 20px;
  --font-style-document: normal;
  /*Decorations*/
  --text-decoration: underline;
  /*Sizes*/
  --height-input:30px;
  --width-grid-1:385px;
  --line-height-1:19px;
  /**/
  --top-1:36px;
  --top-2:54px;
  --left-1:40px;
  --left-2:42px;
}

/*      ANIMATION       */
@-webkit-keyframes expand {
  0% {
    opacity: 0;
    margin-top: 50vh;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes expand {
  0% {
    opacity: 0;
    margin-top: 50vh;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes number1-opacity {
  from {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes number1-opacity {
  from {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes scl {
  0% {
    scale: 200%;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes scl {
  0% {
    scale: 200%;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
/*////////////////////*/
* {
  margin: 0%;
  padding: 0%;
}

.wrapper {
  color: var(--color-text);
  font-family: var(--font-for-document);
  width: 1200px;
  height: 1667px;
}

.grid-container {
  display: grid;
  height: 1667px;
  grid-template-columns: var(--width-grid-1) auto;
  padding: 0px;
}

@media screen and (max-width: 385px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "grid-item-1" "grid-item-2";
  }
  * {
    max-width: 385px;
    word-break: break-word;
  }
}
.grid-item-1 {
  background-color: var(--color-background-left);
  box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
  /*animation: expand 1s linear;*/
  -webkit-animation: expand 1s linear;
          animation: expand 1s linear;
}

.grid-item-2 {
  background-color: var(--color-background-right);
  /*box-shadow: -100px 0px 2px black;*/
  /*animation: expand 1.5s linear;*/
  -webkit-animation: expand 1.5s linear;
          animation: expand 1.5s linear;
  z-index: -1;
}

.position {
  font-weight: 900;
  display: inline-flex;
}

.my_name {
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: calc(0.5rem + 2.5vmin);
  line-height: 48px;
  /*border-bottom: solid 2px rgb(189, 114, 250);*/
  padding: 0px 85px 0px var(--left-1);
  width: 260px;
  height: 96px;
  margin-top: 58px;
}

.name {
  color: var(--color-input);
}

.headers {
  width: 320px;
  height: 39px;
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: 40px;
  line-height: 39px;
  border-bottom: 5px solid var(--color-text);
  padding-bottom: 28px;
  margin-bottom: 31px;
}

.contact {
  width: 334px;
  height: 429px;
  padding: 5px 11px 0px var(--left-1);
  /*position: sticky;
  top: 0px;
  left: 0;*/
}

.contact_header {
  width: 97px;
  height: 29px;
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: 24px;
  line-height: 44px;
  margin-top: 45px;
}

.contact_information {
  width: 141px;
  height: var(--line-height-1);
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: 16px;
  line-height: 40px;
}

.languages {
  width: 291px;
  height: 140px;
  padding: var(--top-1) 52px 530px var(--left-2);
  margin-top: var(--top-1);
}

.languages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 116px;
  height: 24px;
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: var(--font-size-small);
  line-height: 24px;
}

.Summary {
  width: 706px;
  height: 176px;
  padding: 0px var(--top-2) 49px calc(0.5rem + 2.5vmin);
  margin-top: 58px;
  /*text-align: justify;*/
}

.text {
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: var(--font-size-small);
  line-height: var(--line-height-1);
  text-align: justify;
}

.Skill {
  width: 659px;
  height: 184px;
  padding: 0px 101px 49px calc(0.5rem + 2.5vmin);
  text-align: justify;
}

.skill-lists {
  width: 100%;
  display: flex;
  width: 621px;
  height: 84px;
  padding: 28px 0px 0px 0px;
}

.skill-list-1 {
  flex: 1;
  list-style-position: inside;
}

.Work_experience {
  width: 706px;
  height: 320px;
  padding: 49px var(--top-2) 53px calc(0.5rem + 2.5vmin);
  text-align: justify;
}

.work-text {
  width: 706px;
  height: 141px;
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
}

.number1 {
  opacity: 70%;
}

.number1:hover {
  -webkit-animation: number1-opacity 2s;
          animation: number1-opacity 2s;
  /*transition-duration: 2s;*/
  opacity: 100%;
}

.Education {
  width: 659px;
  height: 157px;
  padding: 0px calc(0.5rem + 2.5vmin) 549px calc(0.5rem + 2.5vmin);
  width: 559px;
  height: 57px;
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: var(--font-size-small);
  line-height: var(--line-height-1);
}

.Projects{
  margin-left: 35px;
  margin-bottom: 700px;
}


#todoItems{
  margin-right: 35px;
  list-style-type:none;
}

#todoItems li{
  font-family: var(--font-for-document);
  font-style: var(--font-style-document);
  font-weight: var(--font-weight-global);
  font-size: var(--font-size-small);
  line-height: 30px;
  border: solid 2px var(--color-text);
  padding: 5px;
  height: 90px;
}

.links {
  color: #00f;
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  padding-left: var(--left-2);
  font-size: larger;
}

.links:visited {
  color: var(--color-links-visited);
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
}

.links:hover {
  text-decoration: none;
}

#my_photo {
  /*border: solid 2px rgb(189, 114, 250);*/
  padding: 10px;
  /*width: var(--width-grid-1);*/
  height: auto;
  /*float: right;*/
  margin: var(--top-1) 0 0 0;
  padding: 0%;
  max-width: 100%;
}

.nav{
  border: solid 1px var(--color-text);
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
}

/*.img:hover {
  transition-duration: 2s;
  transform: scale(1.75);
  padding-left: 20%;
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.25);
}*/

.header {
  margin-bottom: 40px;
}

.test {
  height: 100vh;
  /*position: sticky;*/
  top: 58px;
  left: 0;
}

.main {
  margin-top: 30px;
}

.contact_data {
  border: 2px solid var(--color-links);
  text-align: center;
}

th, td {
  padding: 10px;
}

/*.document {
  max-width: 1024px;
  position: fixed;
  top: calc(50% - 239.5px);
  left: calc(50% - 167.22px);
  -webkit-animation: scl 2s linear;
          animation: scl 2s linear;
}*/

/*input[type=submit] {
  height: 30px;
  width: 100px;
  color: white;
  background-color: #00f;
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

input[type=submit]:hover {
  color: white;
  background-color: #005;
}

input:focus {
  outline: solid #00f;
}

input[type=text] {
  border-color: black;
  height: 30px;
  margin-left: 40px;
}

input:invalid {
  border-color: red;
}

.error {
  display: none;
  color: red;
}

input[type=text]:invalid + .error {
  margin-left: 90px;
  display: block;
}

#description_input:focus {
  outline: 2px solid #00f;
}/*# sourceMappingURL=styles.css.map */